h2 {
  margin: 0;
}

h2 a {
  color: #333;
  text-decoration: none;
}

h2 a:hover {
  color: #9EBCC3;
}

img {
  width: 500px;
}

.mainContainer {
  display: flex;
  z-index: 0;
}

.mapStyle {
  flex: 1;
  z-index: 1;
  width: 100vw;
  height: 90vh;
  margin: 0;
}

.overlay {
  z-index: 10;
  position: absolute;

  right: 20px;
  bottom: 12px;
  // background: rgba(0,0,0,0.3);
}

.gm-style-iw {
  margin-left: 10px;
}

.gm-style-iw div:first-child {
  overflow: hidden !important;
}

.iw-body {
  overflow: scroll;
  height: 300px;
}

.iw-title {
  margin: 5px 0 10px 0;
}

//constrain infowindow size
//float image right of text, if no image, expand text to fill infowindow
//round borders of infowindow
